body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.header-1{
    margin: 0 auto;
    position: relative;
    background-color: rgb(34, 29, 29);
    width: 100%;
    height: 70px;
    border-bottom: 3px solid rgb(41, 41, 51);

}

.menu{
    float: left;
   width: 70%;
}

.menu ul li{
    margin-top: 18px;
    margin-left: 15px;
    display: inline-block;
}

.menu ul li a{
    font-size: 20px;
    padding: 10px;
    color: white;
    text-decoration: none;
    transition: all .3s ease
}

.menu ul li:hover a{
    color: #444; 
    border-bottom: 3px solid #444;
}

.login{
    margin-top: 8px;
    text-align: end;
    float: right;
    width: 30%;
}

.login button{
    border-radius: 10px;
    margin-right: 15px;
    background-color: rgb(34, 29, 29);
    border-style: none;
    color: #FFFF;
    font-size: 20px;
    height: 50px;
    width: 80px;
}

.login button:hover{
    transition: all 0.5s ease;
    background-color: rgb(21, 146, 42);
}

.header-2{
    margin: 0 auto;
    position: relative;
}

.banner{
    height: 320px;
}

.produtos{
    height: 800px;
    background-color: whitesmoke;
}

.footer{
    background-color: rgb(34, 29, 29);
    margin: 0 auto;
    position: relative;
    height: 100px;
    color: whitesmoke;
}