body{
    background-image:url(img/snorlax.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

width: 100%; 
 height:100vh;
}
.container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;

}

.card{
 background-color:#ffffff25;
 padding: 100px;
 border-radius: 10%;
 box-shadow: 4px 3px 1px 0px #00000060;
 width:300px;
}
h1{
    text-align: center;
    margin-bottom: 20px;
    color:#2a423d
}

input{
    width:100%;
    padding:5px 5px;
    border:0;
    border-bottom: 2px solid #2a423d;
    background-color:transparent;
}
button{
    text-align: center;
    background-color: transparent;
    border-color:#4A736B;
    border-radius: 5px;
    padding: 7px;
    margin-top: 20px;

}
 button:hover{
    transition: all 0.5s ease;
    background-color: #4A736B;
    color:#ffffff
}
.justify-center{
    display: flex;
    justify-content: center;
}
hr{
    margin-top:10px; 
    margin-bottom: 10px;
    width: 90%;
}
p{text-align: center;
}